on:
    pull_request:
        types: [opened, synchronize, reopened]
jobs:
    build:
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-18.04, windows-latest, macos-latest]
        runs-on: ${{ matrix.os }}
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                node-version: '16.x'
            - name: Install ubuntu deps
              if: contains(matrix.os, 'ubuntu')
              run: sudo apt install mesa-common-dev libglu1-mesa-dev
            - name: Install deps
              run: yarn install
            - name: Build nodegui
              run: npm run build
            - name: Run tests
              run: npm run test
            - name: Run linters for cpp
              run: npm run lint:cpp
            - name: Run linters for ts
              run: npm run lint:ts
